@import "variables";

@function calcRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
